# Драйвер обязательно asyncpg
APP_CONFIG__DB__URL=postgresql+asyncpg://<user>:<password>@<host>:<port>/<database>

# Число после последнего слэша — номер логической базы Redis (0-15)
APP_CONFIG__REDIS__URL=redis://<host>:<port>/<db_number>
